form {
  max-width: 330px;
  margin: 0 auto;
}
footer.page-footer.font-small.blue.pt-4 {
  color: white;
  background-color: gray;

}
.footer-copyright.text-center.py-3 {
  padding: 1%;
}
a {
  color: white;
}
.col-md-6.mt-md-0.mt-3 {
  margin-top: 2%;
}
img.logo {
  width: 50%;
}
p {
  width: 61%;
  margin-left: 19%;
  margin-top: 2%;
}
